h1, p{
  margin:1em auto;
  text-align:center;
}
p{
  font-size:22px;
}
body{
  background-color: #8c7ae6;
  color:white;
  font-family: Tahoma;
  font-size:19px;
}

input[type="submit"]{
  padding:1px 2=px;
  width:300px;
  height:1em;
  padding-bottom:2em;
  background-color:#4cd137;
  display:block;
  padding-top:2em;
  
}
label{
  display:block;
  margin:0.5rem 0
}
fieldset{
  border:none;
  
}
form{
  opacity:0.7;
  width:60vw;
  max-width:700px;
  min-width:300px;
  margin:0 auto;
  background-color:#273c75;
}
label{
  display:block;
  margin:0.5rem 0;
}
input, textarea, select{
  width:100%;
  margin: 10px 0 0 0;
  min-height:2em;
}
.inline{
  width:unset;
  vertical-align:middle;
  margin: 0 0.5em 0 0;
  
}
textarea{
  height:8em
}
